@media screen and (max-width: calc(1640px*0.9)) {
  .workspace {
    max-width: calc(1230px*0.9);
    justify-content: center;

    .place:nth-of-type(4) {
      margin-right: calc(40px*0.9);
    }
    .place:nth-of-type(2) {
      margin-right: calc(40px*0.9);
    }
    .place:nth-of-type(3) {
      margin-right: 0px;
    }
    .place:nth-of-type(5) {
      margin-right: 0px;
    }
  }
  
  .modal .modal-whiteboard {
    max-width: calc(1230px*0.9);

    .modalImage-container{
    max-width: calc(540px*0.8);
    }
    .modal-left-side {
    max-width: calc(540px*0.8);
    }
    .modal-right-side {
      max-width: calc(755.8px*0.68);
    }
  } 
}

@media screen and (max-width:calc(1230px*0.9)) {
  .workspace {
    max-width: calc(812px*0.9);
    justify-content: center;

    .place:nth-of-type(3) {
      margin-right: calc(40px*0.9);
    }
    .place:nth-of-type(4) {
      margin-right: 0px;
    }
    .place:nth-of-type(2) {
      margin-right: 0px;
    }
    .place:nth-of-type(5) {
      margin-right: 0px;
    }
  }
}

@media screen and (max-width:calc(812px*0.9)) {
  .workspace {
    width: calc(395px*0.9);
    flex-direction: column;
    justify-content: center;

    .place {
      align-self: center;
      justify-self: center;
      margin-right: 0px;
      margin-left: 0px;

      &:nth-of-type(3) {
      margin-right: 0px;  // БЕЗ ЭТОГО НЕ РАБОТАЕТ
      }
    }
  }
}